<style>
  html .category-sub-title {
  	color: {{settings.brand_color_slategrey}};
  }


  
  .anchore-bg {
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 50%;
    opacity: 0.6;
    background: {{settings.brand_color_softwhite}};
    filter: blur(100px);
    left: unset !important;
    transform: unset !important;
	}

  .grid_bg {
    background: {{settings.brand_color_softwhite}};
    color: {{settings.brand_color}};
    border: solid 1px {{settings.brand_color_slategrey}};
  }

  .grid_bg:hover {
    background: {{settings.brand_color_softwhite}};
    color: {{settings.brand_color}};
    border: solid 1px {{settings.brand_color_slategrey}};
  }
</style>

<section class="anchore-bg p-12">
  <div class="container mx-auto flex flex-wrap items-center">
  
    <div class="w-full lg:w-1/2 text-center lg:text-left px-4">
    <h1 class="mb-4 anchore-hero-title">Articles</h1>
    <div class="max-w-md mx-auto lg:mx-0">
        {{search}}
      </div>

    </section>


<section class="pb-20 mb-10">
  <div class="container mx-auto text-center px-6 py-4 md:py-0">
  <div class="py-8 mb-5">
        {{breadcrumbs}}
      </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {{#each sections}}
        <a href="{{url}}" class="grid_bg  rounded block px-8 py-12 border-transparent transition duration-300 transform hover:scale-105 hover:shadow-xl hover:border-b-4">
          <h3 class="category-card-title mb-5">{{name}}</h3>
          {{#if description}}
          	<p class="category-card-description text-left">{{description}}</p>
          {{else}}
          {{/if}}
        </a>
      {{/each}}
    </div>
  </div>
</section>
