<!--syling as cant call custom styling via css-->
 <style>
/*cta styling*/

.btn-cta1{
  background-color: {{settings.brand_color}};
  color: {{settings.brand_text_color}};
  border-radius:22px;
  padding: 10px 18px;
  font-weight: 400;
 }

 .btn-cta1:hover{
  background-color:{{settings.brand_color_dmblue}};
  border-radius:22px;
  padding: 10px 18px;
  font-weight: 400;
 }

  .btn-cta2{
    background-color:{{settings.brand_color_softwhite}};
    color:{{settings.brand_color_black}};
    border-radius:22px;
    padding: 10px 18px;
    font-weight: 400;
  }

  .btn-cta2:hover{
    background-color:{{settings.brand_color}};
    color:{{settings.brand_color_softwhite}};
    border-radius:22px;
    padding: 10px 18px;
    font-weight: 400;
  }

.text-title{
  font-size: 1.25rem;
  font-weight: 600;
  color: {{settings.brand_color_darkgrey}};
}

.anchore-hero-description {
  box-sizing: border-box;
  color: {{settings.brand_color_softwhite}};
  font-family: 'Poppins', sans-serif;
 font-weight: 600;
  letter-spacing: -.01em;
  line-height: 40px;
  font-size: 32px!important;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-bottom:1rem;

  @media (max-width: 992px) {
    line-height: 48px;
    font-size: 48px;
  }

  @media (min-width: 768px) {
    text-align: left;
    line-height: 40px;
    font-size: 40px;
  }

  @media (min-width: 981px) {
    line-height: 60px;
    font-size: 60px;
  }

  @media (min-width: 1200px) {
    line-height: 60px;
    font-size: 60px;
  }
}

.card-link:hover {
  background-color:{{settings.brand_color_softwhite}};
}

.video-box {
  margin: 0 auto; /* Center the box */
  padding: 20px; /* Padding around the video */
  border: 2px solid {{settings.brand_color_slategrey}}; /* Desired border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  border-radius: 16px; /* Optional rounded corners */
  box-sizing: border-box; /* Include padding and border in box's size */
  background-color: {{settings.brand_color_softwhite}}; /* Optional: Set background color if needed */
}


/* Ensure the title is visible and styled appropriately */
.text-2xl.font-semibold.text-center.mb-4 {
  color: {{settings.brand_color}}; /* Adjust the color to ensure visibility */
  margin-bottom: 20px; /* Adjust spacing as needed */
}
   
.section-background {
  background: linear-gradient(to bottom, {{settings.brand_color_softwhite}} 50%, {{settings.background_color_grey}} 50%);
  padding: 20px; /* Adjust the padding as needed */
}


/* Additional responsiveness */
@media (max-width: 768px) {
  .video-box {
    width: 100%; /* Full width on smaller screens */
    margin: 0 auto;
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

.bg-brand-grey {
  background-color: {{settings.background_color_grey}};


 </style> 

<div class="anchore-bg p-12">
  <div class="container mx-auto flex flex-wrap items-center">
    <!-- Left Column -->
    <div class="w-full lg:w-1/2 text-center lg:text-left px-4">
    <h1 class="mb-4 anchore-hero-header">{{settings.hero_banner_text}}</h1>
     <!-- <h1 class=" text-3xl mb-4">Hero Text Here</h1>-->
      <div class="anchore-hero-description">{{settings.hero_banner_description}}</div>
      <div class="max-w-md mx-auto lg:mx-0">
        {{search}}
      </div>
 
      <div class="flex justify-center lg:justify-start space-x-4 mt-4">
        {{#if settings.cta_one_title}}
        <a href="{{settings.cta_one}}" class="btn-cta1">{{settings.cta_one_title}}</a>
        {{/if}}
        {{#if settings.cta_two_title}}
        <a href="{{settings.cta_two}}" class="btn-cta2">{{settings.cta_two_title}}</a>
        {{/if}}
      </div>
    </div>
 
<!-- Right Column -->
<div class="w-full lg:w-1/2 flex justify-center lg:justify-end px-4">
      <img src="{{settings.hero_banner_image}}" alt="Hero Banner Image" class="max-w-xs lg:max-w-md transform transition duration-300 ease-in-out bg-transparent border px-4 py-4 shadow-sm  hover:animate-pulse">
    </div>
  </div>
</div>


{{#if settings.homepage_video_title}}

<div class="section-background">
  <div class="video-box">

  <h2 class="text-2xl font-semibold text-center mb-4">{{settings.homepage_video_title}}</h2>
  <div class="relative overflow-hidden pb-56 video-border">
    <iframe class="absolute top-0 left-0 w-full h-full" src="{{settings.homepage_video_url}}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
  </div>
  {{/if}}
<section class="pb-5 sm:pb-10 bg-no-repeat bg-origin-padding bg-brand-grey">
  <div class="container mx-auto text-center category-cards py-4 px-3 sm:py-10">
    <h2 class="text-2xl font-semibold text-center mb-4">Custom Tiles</h2>
    <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 sm:gap-8 px-5">

      {{#if settings.tile_1_title}}
        <a href="{{settings.tile_1_url}}" class="card bg-white rounded-xl overflow-hidden shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl" target="_blank">
          {{#if settings.tile_1}}
            <img src="{{settings.tile_1}}" alt="" class="w-full h-48 object-cover">
          {{/if}}
          <div class="p-5">
            <h3 class="text-xl font-semibold mb-2">{{settings.tile_1_title}}</h3>
            <p class="text-gray-700 text-base">{{settings.tile_1_description}}</p>
          </div>
        </a>
      {{/if}}
      {{#if settings.tile_2_title}}
        <a href="{{settings.tile_2_url}}" class="card bg-white rounded-xl overflow-hidden shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl" target="_blank">
          {{#if settings.tile_2}}
            <img src="{{settings.tile_2}}" alt="" class="w-full h-48 object-cover">
          {{/if}}
          <div class="p-5">
            <h3 class="text-xl font-semibold mb-2">{{settings.tile_2_title}}</h3>
            <p class="text-gray-700 text-base">{{settings.tile_2_description}}</p>
          </div>
        </a>
      {{/if}}
      {{#if settings.tile_3_title}}
        <a href="{{settings.tile_3_url}}" class="card bg-white rounded-xl overflow-hidden shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl" target="_blank">
          {{#if settings.tile_3}}
            <img src="{{settings.tile_3}}" alt="" class="w-full h-48 object-cover">
          {{/if}}
          <div class="p-5">
            <h3 class="text-xl font-semibold mb-2">{{settings.tile_3_title}}</h3>
            <p class="text-gray-700 text-base">{{settings.tile_3_description}}</p>
          </div>
        </a>
      {{/if}}
      {{#if settings.tile_4_title}}
        <a href="{{settings.tile_4_url}}" class="card bg-white rounded-xl overflow-hidden shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl" target="_blank">
          {{#if settings.tile_4}}
            <img src="{{settings.tile_4}}" alt="" class="w-full h-48 object-cover">
          {{/if}}
          <div class="p-5">
            <h3 class="text-xl font-semibold mb-2">{{settings.tile_4_title}}</h3>
            <p class="text-gray-700 text-base">{{settings.tile_4_description}}</p>
          </div>
        </a>
      {{/if}}
      {{#if settings.tile_5_title}}
        <a href="{{settings.tile_5_url}}" class="card bg-white rounded-xl overflow-hidden shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl" target="_blank">
          {{#if settings.tile_5}}
            <img src="{{settings.tile_5}}" alt="" class="w-full h-48 object-cover">
          {{/if}}
          <div class="p-5">
            <h3 class="text-xl font-semibold mb-2">{{settings.tile_5_title}}</h3>
            <p class="text-gray-700 text-base">{{settings.tile_5_description}}</p>
          </div>
        </a>
      {{/if}}
      {{#if settings.tile_6_title}}
        <a href="{{settings.tile_6_url}}" class="card bg-white rounded-xl overflow-hidden shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl" target="_blank">
          {{#if settings.tile_6}}
            <img src="{{settings.tile_6}}" alt="" class="w-full h-48 object-cover">
          {{/if}}
          <div class="p-5">
            <h3 class="text-xl font-semibold mb-2">{{settings.tile_6_title}}</h3>
            <p class="text-gray-700 text-base">{{settings.tile_6_description}}</p>
          </div>
        </a>
      {{/if}}
      {{#if settings.tile_7_title}}
        <a href="{{settings.tile_7_url}}" class="card bg-white rounded-xl overflow-hidden shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl" target="_blank">
          {{#if settings.tile_7}}
            <img src="{{settings.tile_7}}" alt="" class="w-full h-48 object-cover">
          {{/if}}
          <div class="p-5">
            <h3 class="text-xl font-semibold mb-2">{{settings.tile_7_title}}</h3>
            <p class="text-gray-700 text-base">{{settings.tile_7_description}}</p>
          </div>
        </a>
      {{/if}}
      {{#if settings.tile_8_title}}
        <a href="{{settings.tile_8_url}}" class="card bg-white rounded-xl overflow-hidden shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl" target="_blank">
          {{#if settings.tile_8}}
            <img src="{{settings.tile_8}}" alt="" class="w-full h-48 object-cover">
          {{/if}}
          <div class="p-5">
            <h3 class="text-xl font-semibold mb-2">{{settings.tile_8_title}}</h3>
            <p class="text-gray-700 text-base">{{settings.tile_8_description}}</p>
          </div>
        </a>
      {{/if}}
      {{#if settings.tile_9_title}}
        <a href="{{settings.tile_9_url}}" class="card bg-white rounded-xl overflow-hidden shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl" target="_blank">
          {{#if settings.tile_9}}
            <img src="{{settings.tile_9}}" alt="" class="w-full h-48 object-cover">
          {{/if}}
          <div class="p-5">
            <h3 class="text-xl font-semibold mb-2">{{settings.tile_9_title}}</h3>
            <p class="text-gray-700 text-base">{{settings.tile_9_description}}</p>
          </div>
        </a>
      {{/if}}
      {{#if settings.tile_10_title}}
        <a href="{{settings.tile_10_url}}" class="card bg-white rounded-xl overflow-hidden shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl" target="_blank">
          {{#if settings.tile_10}}
            <img src="{{settings.tile_10}}" alt="" class="w-full h-48 object-cover">
          {{/if}}
          <div class="p-5">
            <h3 class="text-xl font-semibold mb-2">{{settings.tile_10_title}}</h3>
            <p class="text-gray-700 text-base">{{settings.tile_10_description}}</p>
          </div>
        </a>
      {{/if}}
      {{#if settings.tile_11_title}}
        <a href="{{settings.tile_11_url}}" class="card bg-white rounded-xl overflow-hidden shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl" target="_blank">
          {{#if settings.tile_11}}
            <img src="{{settings.tile_11}}" alt="" class="w-full h-48 object-cover">
          {{/if}}
          <div class="p-5">
            <h3 class="text-xl font-semibold mb-2">{{settings.tile_11_title}}</h3>
            <p class="text-gray-700 text-base">{{settings.tile_11_description}}</p>
          </div>
        </a>
      {{/if}}
      {{#if settings.tile_12_title}}
        <a href="{{settings.tile_12_url}}" class="card bg-white rounded-xl overflow-hidden shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl" target="_blank">
          {{#if settings.tile_12}}
            <img src="{{settings.tile_12}}" alt="" class="w-full h-48 object-cover">
          {{/if}}
          <div class="p-5">
            <h3 class="text-xl font-semibold mb-2">{{settings.tile_12_title}}</h3>
            <p class="text-gray-700 text-base">{{settings.tile_12_description}}</p>
          </div>
        </a>
      {{/if}}
    </div>
  </div>
</section>

<!--NB card styling-->
<section class="pb-5 sm:pb-10 bg-no-repeat bg-origin-padding bg-brand-grey">
  <div class="container mx-auto text-center category-cards py-4 px-3 sm:py-10">
    <h2 class="text-2xl font-semibold text-center mb-4">Category Cards</h2>
    <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 sm:gap-8 px-5">
      {{#each categories}}
        <a href="{{url}}" class="card-link transform transition duration-300 ease-in-out bg-transparent border border-gray-400 px-4 py-4 shadow-sm hover:bg-white hover:scale-105 hover:shadow-lg hover:border-transparent hover:shadow-outline hover:font-semibold hover:text-black next-card-title rounded-lg">
          <div class="sm:mb-4">
        {{#is @index 0}}
          <img src="{{../settings.category_card_icon_1}}" class="mx-auto object-contain max-image-size" />
        {{/is}}
        {{#is @index 1}}
          <img src="{{../settings.category_card_icon_2}}" class="mx-auto object-contain max-image-size" />
        {{/is}}
        {{#is @index 2}}
          <img src="{{../settings.category_card_icon_3}}" class="mx-auto object-contain max-image-size" />
        {{/is}}
        {{#is @index 3}}
          <img src="{{../settings.category_card_icon_4}}" class="mx-auto object-contain max-image-size" />
        {{/is}}
        {{#is @index 4}}
          <img src="{{../settings.category_card_icon_5}}" class="mx-auto object-contain max-image-size" />
        {{/is}}
        {{#is @index 5}}
          <img src="{{../settings.category_card_icon_6}}" class="mx-auto object-contain max-image-size" />
        {{/is}}
        {{#is @index 6}}
          <img src="{{../settings.category_card_icon_7}}" class="mx-auto object-contain max-image-size" />
        {{/is}}
        {{#is @index 7}}
          <img src="{{../settings.category_card_icon_8}}" class="mx-auto object-contain max-image-size" />
        {{/is}}
        {{#is @index 8}}
          <img src="{{../settings.category_card_icon_9}}" class="mx-auto object-contain max-image-size" />
        {{/is}}
        {{#is @index 9}}
          <img src="{{../settings.category_card_icon_10}}" class="mx-auto object-contain max-image-size" />
        {{/is}}
        {{#is @index 10}}
          <img src="{{../settings.category_card_icon_11}}" class="mx-auto object-contain max-image-size" />
        {{/is}}
        {{#is @index 11}}
          <img src="{{../settings.category_card_icon_12}}" class="mx-auto object-contain max-image-size" />
        {{/is}}
        {{#is @index 12}}
          <img src="{{../settings.category_card_icon_13}}" class="mx-auto object-contain max-image-size" />
        {{/is}}
        {{#is @index 13}}
          <img src="{{../settings.category_card_icon_14}}" class="mx-auto object-contain max-image-size" />
        {{/is}}
        {{#is @index 14}}
          <img src="{{../settings.category_card_icon_15}}" class="mx-auto object-contain max-image-size" />
        {{/is}}
         {{#is @index 15}}
          <img src="{{../settings.category_card_icon_16}}" class="mx-auto object-contain max-image-size" />
        {{/is}}
        <!-- Add more conditions for other indices if needed -->
      </div>
      <span class="text-title">{{this.name}}</span>
          <p class="card-text-description line-clamp-2">{{this.description}}</p>
    </a>
  {{/each}}
</div>
  </div>
</section>
<!--end of NB card styling-->
<!--CM dynamic cards
<div class="container mx-auto p-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4" id="categoryContainer">
   
  </div>
</div>
End of CM dynamic cards-->

<!--<div class="container mx-auto p-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  <div class="flex flex-col items-center text-center p-4 shadow-lg rounded-lg">
  <img src="https://via.placeholder.com/64/0000FF/808080?text=1" alt="Icon" class="w-16 h-16 mb-2">
  <span>Category Text</span>
</div>
<div class="flex flex-col items-center text-center p-4 shadow-lg rounded-lg">
  <img src="https://via.placeholder.com/64/FF0000/FFFFFF?text=2" alt="Icon" class="w-16 h-16 mb-2">
  <span>Category Text</span>
</div>
<div class="flex flex-col items-center text-center p-4 shadow-lg rounded-lg">
  <img src="https://via.placeholder.com/64/FFFF00/000000?text=3" alt="Icon" class="w-16 h-16 mb-2">
  <span>Category Text</span>
</div>
<div class="flex flex-col items-center text-center p-4 shadow-lg rounded-lg">
  <img src="https://via.placeholder.com/64/00FF00/000000?text=4" alt="Icon" class="w-16 h-16 mb-2">
  <span>Category Text</span>
</div>
<div class="flex flex-col items-center text-center p-4 shadow-lg rounded-lg">
  <img src="https://via.placeholder.com/64/00FFFF/000000?text=5" alt="Icon" class="w-16 h-16 mb-2">
  <span>Category Text</span>
</div>
<div class="flex flex-col items-center text-center p-4 shadow-lg rounded-lg">
  <img src="https://via.placeholder.com/64/FF00FF/FFFFFF?text=6" alt="Icon" class="w-16 h-16 mb-2">
  <span>Category Text</span>
</div>
<div class="flex flex-col items-center text-center p-4 shadow-lg rounded-lg">
  <img src="https://via.placeholder.com/64/800080/FFFFFF?text=7" alt="Icon" class="w-16 h-16 mb-2">
  <span>Category Text</span>
</div>
<div class="flex flex-col items-center text-center p-4 shadow-lg rounded-lg">
  <img src="https://via.placeholder.com/64/FFA500/FFFFFF?text=8" alt="Icon" class="w-16 h-16 mb-2">
  <span>Category Text</span>
</div>

  </div>
</div>-->
