<style>
  .article-card {
    background-color: #fff; /* Adjust based on your theme */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
    padding: 20px;
    margin-bottom: 20px; /* Space between cards */
  }

  .article-card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }


  .article-section {
    background-color: {{settings.brand_color_softwhite}};
    border-radius:22px;
    padding:1rem;
    border: 1px solid {{settings.brand_color_slategrey}};
  }

  .article-section:hover {
    background-color:{{settings.brand_color_purewhite}};
  }
</style>
<section class="anchore-bg p-12">
  <div class="container mx-auto flex flex-wrap items-center">
    <!-- Left Column -->
    <div class="w-full lg:w-1/2 text-center lg:text-left px-4">
    <h1 class="mb-4 anchore-hero-header">{{section.name}}</h1>
     
      
      <div class="max-w-md mx-auto lg:mx-0">
        {{search}}
      </div>
      </div>
      </div>
</section>

<div id="horizontal-menu" class="hidden md:block container mx-auto py-0 px-6"></div>

<div class="container mx-auto py-4 md:py-0 px-6">
  <div class="py-8">
        {{breadcrumbs}}
      </div>
  {{#if section.sections}}
      {{#each section.sections}}
        <section id="{{this.id}}" class="pt-4 pb-14 mb-12 bg-white">
          <h2 class="section-subtitle">{{this.name}}</h2>
          <ul class="list-none pl-0 mt-7 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-2 gap-4" subsection={{this.id}}>
            {{!-- Iterate through articles in this section --}}
            {{#each this.articles}}
              <li>
                <a href="{{url}}" class="section-item-bullet flex gap-6">
                		<span class="flex align-center">•</span>
                    <span class="flex">{{this.title}}</span>
                </a>
              </li>
            {{/each}}
          </ul>
        </section>
      {{/each}}
  {{/if}}
{{#if section.articles}}
<section id="{{section.id}}" class="article-section">
  <h2 class="section-subtitle">{{section.name}}</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4"> <!-- Adjust the column count as needed -->
    {{!-- Iterate through articles in this section --}}
    {{#each section.articles}}
      <div class="article-card"> <!-- Use article-card for styling -->
        <a href="{{url}}" class="section-item-bullet">
          {{this.title}}
        </a>
      </div>
    {{/each}}
  </div>
</section>
{{/if}}
  				
</div>
