
<div class="anchore-bg p-12">
  <div class="container mx-auto flex flex-wrap items-center">
    <!-- Left Column -->
    <div class="w-full lg:w-1/2 text-center lg:text-left px-4">
    <h1 class="mb-4 anchore-hero-header">{{settings.hero_banner_text}}</h1>
     <!-- <h1 class=" text-3xl mb-4">Hero Text Here</h1>-->
      <div class="anchore-hero-description">{{settings.hero_banner_description}}</div>
      <div class="max-w-md mx-auto lg:mx-0">
        {{search}}
      </div>
 
      <div class="flex justify-center lg:justify-start space-x-4 mt-4">
        {{#if settings.cta_one_title}}
        <a href="{{settings.cta_one}}" class="btn-cta1">{{settings.cta_one_title}}</a>
        {{/if}}
        {{#if settings.cta_two_title}}
        <a href="{{settings.cta_two}}" class="btn-cta2">{{settings.cta_two_title}}</a>
        {{/if}}
      </div>
    </div>

<div id="horizontal-menu" class="hidden md:block container mx-auto py-0 px-6"></div>

<div class="container mx-auto py-4 md:py-0 px-6">
  <div class="py-8">
        {{breadcrumbs}}
      </div>
  {{#if section.sections}}
      {{#each section.sections}}
        <section id="{{this.id}}" class="pt-4 pb-14 mb-12 bg-white border-b">
          <h2 class="section-subtitle">{{this.name}}</h2>
          <ul class="list-none pl-0 mt-7 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-2 gap-4" subsection={{this.id}}>
            {{!-- Iterate through articles in this section --}}
            {{#each this.articles}}
              <li>
                <a href="{{url}}" class="section-item-bullet flex gap-6">
                		<span class="flex align-center">•</span>
                    <span class="flex">{{this.title}}</span>
                </a>
              </li>
            {{/each}}
          </ul>
        </section>
      {{/each}}
  {{/if}}
  {{#if section.articles}}
   <section id="{{section.id}}" class="pt-4 pb-12 mb-12 bg-white">
     <h2 class="section-subtitle">{{section.name}}</h2>
      <ul class="list-disc pl-8 mt-7" section={{section.id}}>
        {{!-- Iterate through articles in this section --}}
        {{#each section.articles}}
          <li>
                <a href="{{url}}" class="section-item-bullet">
                {{this.title}}
                </a>
              </li>
        {{/each}}
     </ul>
  </section>
  {{/if}}
  				
</div>